<div class="all_view">
<%= render "shared/header"%>
  <div class="main">
  
    <%= render "shared/side_message"%>
    
    <div class="chat_main">
      <div class="chat_header">
        <div class="left_header">
          <div class="header_title">
            <div class="group_name">
              <p>チーム名：<%= @group.name %></p>
            </div>


            <% if @group.user_groups.first.user_id == current_user.id %>
              <div class="partner_info">
                <div class="partner_name">
                  <%= @group.user_groups.second.user.nickname %><span>さん　</span>
                </div>
                <div class="partner_type">
                  タイプ：<%= @group.user_groups.second.user.enneagram_type&.type_result&.name %>
                </div>
              </div>
              <div class="how_to">
                  <li>モチベーションの上げ方　→　<%= @group.user_groups.second.user.enneagram_type&.type_result&.motivation %></li>
                  <li>アドバイス方法　　　　　→　<%= @group.user_groups.second.user.enneagram_type&.type_result&.advice %></li>
                  <li>されて嫌な事　　　　　　→　<%= @group.user_groups.second.user.enneagram_type&.type_result&.hate %></li>
                  <li>絶対にやらない事　　　　→　<%= @group.user_groups.second.user.enneagram_type&.type_result&.never_do %></li>
              </div>
              
            <% else %>

              <div class="partner_info">
                <div class="partner_name">
                  <%= @group.user_groups.first.user.nickname %><span>さん　</span>
                </div>
                <div class="partner_type">
                  タイプ：<%= @group.user_groups.first.user.enneagram_type&.type_result&.name %>
                </div>
              </div>
              <div class="how_to">
                  <li>モチベーションの上げ方　→　<%= @group.user_groups.first.user.enneagram_type&.type_result&.motivation %></li>
                  <li>アドバイス方法　　　　　→　<%= @group.user_groups.first.user.enneagram_type&.type_result&.advice %></li>
                  <li>されて嫌な事　　　　　　→　<%= @group.user_groups.first.user.enneagram_type&.type_result&.hate %></li>
                  <li>絶対にやらない事　　　　→　<%= @group.user_groups.first.user.enneagram_type&.type_result&.never_do %></li>
              </div>
            <% end %>
          </div>
        </div>
        <div class="right_header">
          <div class="header_button">
            <%= link_to "チャットを終了する", group_path(@group), method: :delete %>
          </div>
        </div>
      </div>
      <div class="messages">

        <%= render partial: "message", collection: @messages %>

      </div>
      <%= form_with model: [@group, @message], class: "form", local: true do |f| %>
        <div class="form_input">
          <%= f.text_field :content, class: "form_message", placeholder: "type a message" %>
          <label class="form_image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: "hidden" %>
          </label>
        </div>
        <%= f.submit "送信", class: "form_submit" %>
      <% end %>
    </div>
  </div>
<%= render "shared/footer"%>
</div>