<div class="top-bar">
  <div class="top-bar-title">
    <%= link_to "EnneagramChat", "/" %>
  </div>
  <div class="top-ba-btn">
    <p> <%= link_to "ユーザー検索", new_group_path %> </p>
    <p> <%= link_to "グループ結成", "#" %> </p>
    <p> <%= link_to "マイページ", "#" %> </p>
    <p> <%= link_to "エニアグラム診断", enneagram_types_path %> </p>
    <p> <%= link_to "エニアグラムとは", "#" %> </p>
  </div>
</div>